hidden = [".config", "package-lock.json"]
run = "npm start"
entrypoint = "LICENSE"

[[hints]]
regex = "Error \\[ERR_REQUIRE_ESM\\]"
message = "We see that you are using require(...) inside your code. We currently do not support this syntax. Please use 'import' instead when using external modules. (https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Statements/import)"

[nix]
channel = "stable-22_11"

[env]
XDG_CONFIG_HOME = "/home/runner/$REPL_SLUG/.config"
PATH = "/home/runner/$REPL_SLUG/.config/npm/node_global/bin:/home/runner/$REPL_SLUG/node_modules/.bin"
npm_config_prefix = "/home/runner/$REPL_SLUG/.config/npm/node_global"


[packager]
language = "nodejs"

  [packager.features]
  packageSearch = true
  guessImports = true
  enabledForHosting = false

[unitTest]
language = "nodejs"

[debugger]
support = true

  [debugger.interactive]
  transport = "localhost:0"
  startCommand = [ "dap-node" ]

    [debugger.interactive.initializeMessage]
    command = "initialize"
    type = "request"

      [debugger.interactive.initializeMessage.arguments]
      clientID = "replit"
      clientName = "replit.com"
      columnsStartAt1 = true
      linesStartAt1 = true
      locale = "en-us"
      pathFormat = "path"
      supportsInvalidatedEvent = true
      supportsProgressReporting = true
      supportsRunInTerminalRequest = true
      supportsVariablePaging = true
      supportsVariableType = true

    [debugger.interactive.launchMessage]
    command = "launch"
    type = "request"
    
      [debugger.interactive.launchMessage.arguments]  
      args = []
      console = "externalTerminal"
      cwd = "."
      environment = []
      pauseForSourceMap = false
      program = "./index.js"
      request = "launch"
      sourceMaps = true
      stopOnEntry = false
      type = "pwa-node"

[languages]

[languages.javascript]
pattern = "**/{*.js,*.jsx,*.ts,*.tsx,*.json}"

[languages.javascript.languageServer]
start = "typescript-language-server --stdio"

[deployment]
run = ["sh", "-c", "node index.js"]

[[ports]]
localPort = 2881
externalPort = 8099

[[ports]]
localPort = 7678
externalPort = 9000

[[ports]]
localPort = 7711

[[ports]]
localPort = 15467
externalPort = 6800

[[ports]]
localPort = 18847

[[ports]]
localPort = 21182
externalPort = 8000

[[ports]]
localPort = 22614
externalPort = 8008

[[ports]]
localPort = 25791
externalPort = 8081

[[ports]]
localPort = 28688
externalPort = 5173

[[ports]]
localPort = 32024
externalPort = 8080

[[ports]]
localPort = 35396
externalPort = 3001

[[ports]]
localPort = 37524
externalPort = 4200

[[ports]]
localPort = 38203
externalPort = 80

[[ports]]
localPort = 46791
externalPort = 3002

[[ports]]
localPort = 49728
externalPort = 5000

[[ports]]
localPort = 50142
externalPort = 6000

[[ports]]
localPort = 52185
externalPort = 3000

[[ports]]
localPort = 62329
externalPort = 3003

[[ports]]
localPort = 62956
